<div class="jumbotron">
    <p><a href="https://localhost:44332/swagger" class="btn btn-default btn-lg">Swagger</a></p>
    <p><a href="https://localhost:44332/api/values" class="btn btn-default btn-lg">GetMethod</a></p>
    <p><a href="https://localhost:44332/api/Getall" class="btn btn-default btn-lg">GetAll</a></p>
<iframe width="1000" height="600" src="https://localhost:44332/swagger" frameborder="0" allowfullscreen></iframe>

</div>
